
/*SVG Styles */
		
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

circle:hover {
	stroke: black;
	opacity: .65;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/*Tooltip Styles */

#tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

div#body {
	width: 960px;
}

path.state {
	fill: #aaa;
	fill-opacity: .8;
	stroke: #fff;
}

path:hover.state,
path.state.selected {
	fill-opacity: 1;
	stroke: #222;
}

.axis path,
.axis line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
  stroke-width: 2px;
}

.x.axis path {
  display: none;
}

.bar {
	fill-opacity: .8;
}

span.label {
	color: #555555;
}

#main-container {
	display: inline-block;
	width: 650px;
	height: 400px;
}

#side-container {
	position: relative;
	display: inline-block;
	width: 300px;
	height: 400px;
}

#state-details h3 {
	margin: 18px 0 0 0;
}

#state-details p {
	margin: 0 0 0 125px;
	text-indent: -125px;
}

#state-details p span.label {
	display: inline-block;
	margin: 0 -125px 0 125px;
	width: 125px;
}

#vote-chart {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 200px;
}

#state-details {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 200px;
}













